/* HTML Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Image Reset */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* SVG Reset */
svg {
  display: block;
  width: auto;
}

/* Anchor Links Reset */
a {
  color: inherit;
  text-decoration: none;
}

/* Button Reset */
button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
}

/* Smooth Scrolling */
html {
  scroll-behavior: smooth;
}

/* Input and Textarea Reset */
input,
textarea {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  border: none;
  padding: 0;
}

:root {
  color-scheme: light dark;

  /* Color Variables for Dark Mode*/
  ---clr-background: #16181a;

  ---clr-navlinks: #ffefc4;
  ---clr-navlinks-active: #ce52ff;

  ---clr-headings: #dba100;
  ---clr-eyebrows: #ffefc4;

  ---clr-text-main: #ffffff;
  ---clr-text-details: #7d7d7d;

  ---clr-card-accent: #ce52ff;
  ---clr-card-scroll: #570876;

  ---clr-contact-bg: #242424;
  ---clr-contact-accent: #dba100;
  ---clr-footer-text: #ffefc4;

  ---clr-skill-list: #16181a;
  ---clr-skill-bg: #dba100;
}

.lightmode {
  color-scheme: light;

  /* Color Variables for Light Mode*/
  ---clr-background: #fef6ff;

  ---clr-navlinks: #16181a;
  ---clr-navlinks-active: #dba100;

  ---clr-headings: #dba100;
  ---clr-eyebrows: #393b3d;

  ---clr-text-main: #16181a;
  ---clr-text-details: #36383a;

  ---clr-card-accent: #7801a7;
  ---clr-card-scroll: #e093ff;

  ---clr-contact-bg: #fff5cd;
  ---clr-contact-accent: #dba100;
  ---clr-footer-text: #16181a;

  ---clr-skill-list: #16181a;
  ---clr-skill-bg: #e093ff;

  transition: 0.5s ease;
}

body {
  background: var(---clr-background);
  font-family: "Sofia Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  color: var(---clr-text-main);
}

/* INFO: Navigation Bar */
nav {
  margin: 1rem auto;
  max-width: 44rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}

.active {
  font-weight: 800;
  font-size: 1.1rem;
  color: var(---clr-headings);
}

.nav-links li {
  padding: 1rem;
  color: var(---clr-navlinks);
  font-weight: 400;
  position: relative;
}

.nav-links li::after {
  content: "";
  background: var(---clr-card-scroll);
  position: absolute;
  width: 0%;
  height: 0.3rem;
  bottom: 0;
  left: 0;

  transition: 0.5s ease;
}

.nav-links li:hover {
  color: var(---clr-navlinks-active);
  font-weight: 700;
  transition: all 0.5s linear;
}

.nav-links li:hover::after {
  content: "";
  width: 100%;
  transition: 0.2s ease;
}

/* INFO: Theme Switcher Animation */
#theme-switch {
  display: flex;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  /* background: #16181a; */
  border-radius: 100vw;
}

#theme-switch:hover {
  #themeSwitcher {
    width: 25px;
    fill: #ce52ff;
    transition: fill 0.5s ease;
  }
}

#themeSwitcher {
  width: 25px;
  fill: #dba100;
}

#rays,
#side,
#core {
  transform-origin: center;
  transform-box: fill-box;
  transition: transform 1s ease 0.1s;
}

#side {
  transform: scale(40%);
}

#core {
  transform: translateX(0) scale(80%);
}

.lightmode #themeSwitcher {
  #theme-switch {
    justify-content: flex-end;
  }

  #rays {
    transform: rotate(90deg);
  }

  #side {
    transform: scale(100%);
  }

  #core {
    transform: translateX(30%) scale(100%);
  }
}

main {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 1rem;
}

main > section {
  margin: auto;
  max-width: 44rem;
  width: 100%;
}

h1,
h2,
h3 {
  font-family: "Syncopate", sans-serif;
  color: var(---clr-headings);
  text-wrap: balance;
}

/* INFO: Main Section */
.introduction {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.image-wrapper {
  margin-top: 2rem;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-radius: 10px;
  rotate: -5deg;
  flex-shrink: 0;
  background-color: #fff5cd;
  box-shadow: 10px 10px var(---clr-card-scroll);
}

.image {
  height: 260px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-radius: 10px;
  overflow: hidden;
}

.image img {
  max-width: 150%;
}

.information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: calc(44rem - 250px);
  width: 100%;
  gap: 1rem;
}

header {
  line-height: auto;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

h1 {
  text-transform: uppercase;
  font-size: clamp(2.5rem, calc(5vw + 1rem), 3rem);
}

p {
  text-wrap: pretty;
  max-width: fit-content;
}

.cta-links {
  display: flex;
  gap: 2rem;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.resume {
  padding: 0.5rem 2rem;
  font-size: 1.1rem;
  font-weight: 800;
  text-transform: uppercase;
  background: var(---clr-navlinks-active);
  border: 2px solid var(---clr-navlinks-active);
  color: var(---clr-background);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  & svg {
    height: 11px;
    fill: var(---clr-background);
  }
}

.resume:hover {
  background: transparent;
  color: var(---clr-navlinks-active);
  transition: 0.2s linear;

  & svg {
    fill: var(---clr-navlinks-active);
    transition: 0.2s linear;
  }
}

.connect-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.connect-links svg {
  height: 15px;
  fill: var(---clr-navlinks);
}

.connect-links svg:hover {
  fill: var(---clr-contact-accent);
  transition: 0.2s linear;
}

h2 {
  text-transform: uppercase;
  font-size: clamp(1.5rem, calc(5vw + 0.9rem), 2rem);
}

.eyebrow {
  text-transform: uppercase;
  color: var(---clr-eyebrows);
  letter-spacing: 20%;
  font-weight: 600;
}

.subheadline {
  margin-top: 1rem;
}

.experience-list {
  display: grid;
  margin-top: 1rem;
  grid-auto-flow: column;
  width: 100%;
  gap: 1rem;
  overflow-x: auto;
  padding-block: 1rem;
  justify-content: start;
  position: relative;

  scrollbar-color: var(---clr-card-accent) var(---clr-card-scroll);
}

.experience-list:last-child::before {
  content: "SCROLL FOR MORE \27F6";
  position: absolute;
  top: 0;
  right: 0;
  color: var(---clr-text-details);
  font-size: 0.85rem;
}

.experience-list::-webkit-scrollbar {
  height: 0.75rem;
}

.experience-list::-webkit-scrollbar-track {
  background-color: var(---clr-card-scroll);
  border-radius: 100vw;
}

.experience-list::-webkit-scrollbar-thumb {
  background-color: var(---clr-card-accent);
  border-radius: 100vw;
}

.experience-card {
  width: clamp(12rem, 70dvw, 32rem);
  padding: 2rem;
  border-radius: 20px;
  border: 1px solid var(---clr-card-accent);
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 4;
}

.date {
  color: var(---clr-card-accent);
  text-transform: uppercase;
  font-style: italic;
  font-size: 0.8rem;
  letter-spacing: 10%;
}

h3 {
  font-size: clamp(1rem, calc(2vw + 0.6rem), 1.5rem);
}

.company {
  text-transform: uppercase;
  font-size: 1.1rem;
  text-wrap: balance;
  letter-spacing: 10%;
}

.task {
  padding-left: 1rem;
  color: var(---clr-text-details);
}

.task li {
  margin-bottom: 0.4rem;
}

.skills-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 0.5rem;
  margin-top: 2rem;
}

.skills-list:hover > li:hover {
  opacity: 1;
}

.skills-list:hover > li {
  opacity: 0.6;
}

.skills-list li {
  text-transform: uppercase;
  background-color: var(---clr-skill-bg);
  color: var(---clr-skill-list);
  font-size: 0.8rem;
  font-weight: 800;
  padding: 0.25rem 1rem;
  border-radius: 100vw;
  cursor: default;
  transition: opacity 0.25s ease;
}

.education-card {
  margin-top: 2rem;
  width: fit-content;
  display: flex;
  border-radius: 20px;
  border: 1px solid var(---clr-card-accent);
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem;
  gap: 1rem;
}

footer {
  margin-top: 3rem;
  background: var(---clr-contact-bg);
}

.contact {
  margin: auto;
  padding: 6rem 1rem;
  max-width: 44rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
}

.contact > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
}

.contact-info {
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.contact-email {
  color: var(---clr-contact-accent);
  font-size: 1.1rem;
  font-weight: 700;
  font-style: italic;
}

form {
  width: 100%;
  height: 100%;
  border-left: 1px solid var(---clr-card-accent);
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-label {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: flex-start;
  align-items: flex-start;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 20%;
  color: var(---clr-footer-text);
}

.form-input {
  font-size: 1rem;
  width: 100%;
  background: transparent;
  padding: 1rem;
  border: 2px solid var(---clr-contact-accent);
  border-radius: 0.5rem;
  color: var(---clr-contact-accent);
  resize: none;
}

.form-label .form-input:focus {
  border: 2px solid var(---clr-card-accent);
  outline: none;
  font-weight: 600;
  transition: 0.2s ease;
}

.form-input::placeholder {
  font-style: italic;
}

.contact-submit {
  text-transform: uppercase;
  background-color: var(---clr-contact-accent);
  width: fit-content;
  padding: 0.5rem 2rem;
  margin: auto 0 auto auto;
  border: 2px solid var(---clr-contact-accent);
  font-size: 1.1rem;
  font-weight: 800;
  border-radius: 0.5rem;
  color: var(---clr-contact-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  & svg {
    height: 11px;
    fill: var(---clr-contact-bg);
  }
}

.contact-submit:hover {
  background: transparent;
  color: var(---clr-contact-accent);
  transition: 0.2s linear;

  & svg {
    fill: var(---clr-contact-accent);
    transition: 0.2s linear;
  }
}

.footer {
  max-width: 44rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 3rem 1rem;
  gap: 1rem;
}

.copyright {
  font-style: italic;
  color: var(---clr-footer-text);
}

@media (max-width: 500px) {
  .introduction {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .information {
    margin-top: 2rem;
  }
}

@media (max-width: 600px) {
  .contact {
    flex-direction: column;
  }

  h2 {
    font-size: 2rem;
  }

  form {
    padding-left: 0;
    border-left: none;
  }
}

@media (max-width: 300px) {
  .cta-links {
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  .footer {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .copyright {
    text-align: center;
  }
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(20%);
  transition: all 1s ease;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}
